﻿@model GlobalApp.ViewModels.ContactViewModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Home" asp-action="Contact" method="post" class="form-horizontal" novalidate>
                <h4>@(ViewData["Result"] == null ? "Enter details" : ViewData["Result"])</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Test</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
